#Do not include SubModules
SubModules/*

#extracted Filezilla 
Prerequisites/FTP/FileZillaPortable

Labs/lab-4.6 motion tracking/donotuse
Prerequisites/ESPlorer/ESPlorer.Log
Labs/Lab-x.x MQTT ThingSpeak/Traces/
fonts/
