#Do not include SubModules
SubModules/*

#extracted Filezilla 
Prerequisites/FTP/FileZillaPortable

*/*/ESPlorer.Log

fonts/
Prerequisites/USB/CP210x_Universal_Windows_Driver_old.zip
Prerequisites/USB/CP210x_Universal_Windows_Driver_old/
DryRun/

#ignore folders for troubleshooting
Labs/*/Traces/
Labs/*/Scratch/
Labs/*/donotuse

#ignore VSCode and python cache in (all) the Demo and Labs folders 
*/*/.vscode/
*/*/__pycache__/
