[submodule "SubModules/micropython-m5stack"]
	path = SubModules/micropython-m5stack
	url = https://github.com/tuupola/micropython-m5stack.git
[submodule "SubModules/Micropython-Editor"]
	path = SubModules/Micropython-Editor
	url = https://github.com/robert-hh/Micropython-Editor
